<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/prettystyle.css' />
   
    <title>Document</title>
</head>
<body>
    
            <div class="box">
            <form method="POST" action="/new">
                <div class="messages">
                    <div class="nav">
                        <div class="dots">

                        
                        <span class="redbox"></span>
                        <span class="greenbox"></span>
                        <span class="yellowbox"></span>
                    </div>
                    <div class="title">
                        <h2><%= title %></h2>
                    </div>
                    
                    </div>
                
                    <div class="view-container">

                    
                  
                   
                    
                    
                    <% messages.forEach(function (message) { %>
                        <div class="message">
                        <span class="comment-text" id="author"> <span id="commentwritten"><%= message.text%></span>  <span class="comment-text" id="comment">:&nbsp &nbsp<%= message.user %> </span></span> <span id="message-added" ><%= message.addednew %> </span>
                        
                        </div>
                    <% }); %>
                </div>

                    <div class="submit-container">
            
                        <div class="inner-sub-cont">
    
                        <label for="messageUser"></label>
                        <input type="text" name="messageUser" id="messageUser" required placeholder= "Message:"  >
                        <label for="messageText" ></label>
                        <input type="text" id="messageText" name="messageText"required placeholder="Author's name" maxlength="14">
                        <div class="img-div">
                            <img  id="send-btn" src="/images/plane.svg" alt="Paper Plane Icon"  onclick="submitForm()">
                        </div>
                   
    
                    </div>
                </div>
                
                
                
                   
                </div>
               <!-- <button type="submit">bob</button>--> 
            </form>

            
        </div>
</body>
<script>
   function submitForm() {
    let messageUser = document.getElementById('messageUser');
    let messageText = document.getElementById('messageText');

    
    // Check if both fields are not empty
    if (messageUser.value.trim() !== '' && messageText.value.trim() !== '') {
        document.forms[0].submit();
    } else {
        console.log('Please fill in both fields.');
    }
}
</script>
</html>