html {
  background-color: #f0f0f0f0;
}
body {
  display: grid;
  height: 100vh;
  place-items: center;
}
.box {
  padding: 10px;
}

form {
  display: grid;
}
.messages {
  padding: 20px;
  height: 500px;
  background-color: white;
  top: 0;
  bottom:0;
  overflow-y:scroll;
  overflow-x:hidden;
}
.submit-container {
  display: grid;
}
.flex-cont{
 

}
.inner-sub-cont {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 100px));
  grid-template-rows: repeat(3, 30px);
}
#messageText {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 1;
}
#messageUser {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}
.img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
}

#send-btn {
  width: 40px;
  transition: transform 0.2s ease-in-out;
}
#send-btn:hover {
  transform: translate(4px,-4px);

}

/*
body {
  display: grid;
  height: 100vh;
  place-items: center;
  margin: 0;
}

.box {
  text-align: center;
}

form {
  display: inline-block;
  text-align: left;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
}


*/
