html {
  background-color: #f0f0f0f0;
  overflow: hidden; /*  It is commonly used to prevent scrollbars from 
  appearing when the content exceeds the dimensions of the containing element.*/
}
body {
  display: flex;

  display: grid;
  height: 100vh;
  place-items: center;
}
h2{
  margin-top:15px;
  user-select: none;
}
.box {
  display: flex;
  padding: 10px;
}

form {
  display: grid;
}
.message-title{

}
.messages {

  display: flex;
  flex-direction: column;
 justify-content:space-between;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  width: 750px;
  padding: 20px;
  height: 800px;
  background-color: white;

}
.view-container{
  margin-top: 40px;
  top: 0;
  bottom:0;
  overflow-y:scroll;
  overflow-x:hidden;
}
.message{
  display: grid;

  justify-content: space-between;
  user-select: none;
  margin-bottom: 10px;
  padding-right: 10px;

}
.message:hover{
  background-color: aliceblue;
}
.comment-text{
  display: grid;
  flex-basis: auto;
word-break: break-all;/*solves the issue of text going out of the box and
                      having to scrol horizontally to see it.*/

  overflow: auto;
  font-size: 22px;
  
  
}
#message-added{/*grids to make the messages start and end on same line*/
  display: grid;
  grid-row-start: 1;
  grid-row-end:1;
  grid-column-start:2 ;
  grid-column-end:3 ;
}
#author{
  color: peru;
  flex: 1; 
}
#commentwritten{
  display: grid;
grid-row-start: 1;
grid-row-end: 1;
grid-column-start:1 ;
grid-column-end: 1;
}
#comment{
  color: black;
  flex: 1;/* extra text will not push away elements on the right side of this element*/
  
}
.submit-container {
  display: grid;
}
.flex-cont{
 

}
.inner-sub-cont {
  margin-top:30px ;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 100px));
  grid-template-rows: repeat(2, 30px);
}
#messageText {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 1;
}
#messageUser {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}
.img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
}

#send-btn {
  width: 40px;
  transition: transform 0.2s ease-in-out;
}
#send-btn:hover {
  transform: translate(4px,-4px);

}

/*
body {
  display: grid;
  height: 100vh;
  place-items: center;
  margin: 0;
}

.box {
  text-align: center;
}

form {
  display: inline-block;
  text-align: left;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
}


*/
