<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form method="POST" action="/new">
        put your inputs and buttons in here!
        <label for="messageText"></label>
        <input type="text" id="messageText" name="messageText"required>
        <br>
        <label for="messageUser">Author's name</label>
        <input type="text" name="messageUser" id="messageUser" required>

        <button type="submit">bob</button>
     </form>

</body>
</html>