<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Here is messages array</h1>
    <p><%=title %></p>

    <h3><% messages.forEach(function(message){ %></h3>
      <p><%=message.text%> - <%= message.user %> (Added:<%=message.added %>)</p>
      <%}); %>

  
    
   

  </body>
</html>
